:root{
    --green: rgb(54, 156, 156);
    --pink: rgb(226, 124, 114);
    --white: white;
    --lightgreen:rgb(64, 190, 190);
    --yellow:rgb(235, 235, 105);
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main{
    width: 80%;
    height: 70%;
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main h1{
    font-size: 2.5em;
    font-weight: bold;
}
.main h3 {
    margin: 0;
    font-size: 1.7em;
}
.timer{
    position: absolute;
    top: 0;
    right: 2%;
}
.timer span{
    margin-left: 10px;
}
.high-scores{
    position: absolute;
    top: 0;
    left: 2%;
    color: var(--green);
}

.high-scores:hover{
    cursor: pointer;
    color: var(--pink);
}

.start-btn{
    width: 200px;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    font-size: larger;
}

.start-btn:hover{
    cursor: pointer;
    background-color: var(--lightgreen);
}

.option-btn{
    width: 50%;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    font-size: larger;
}

.option-btn:hover{
    cursor: pointer;
    background-color: var(--lightgreen);
}

.enter-initial-form{
    width: 50%;
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.enter-initial-form input{
    width: 200px;
    height: 25px;
}

.submit-btn{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
}
.submit-btn:hover {
    cursor: pointer;
    background-color: var(--lightgreen);
}

.btn-frame{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.back-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
}

.back-btn:hover {
    cursor: pointer;
    background-color: var(--lightgreen);
}

.clear-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
}

.clear-btn:hover {
    cursor: pointer;
    background-color: var(--lightgreen);
}

.correct{
    color: var(--yellow);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}

.wrong {
    color: var(--pink);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

ul {
    width: 20%;
    padding: 20px;
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

ul li {
    float: left;
    margin: 0 10px;
    padding: 0 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.list-iem{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.score-list{
    height: 100vh;
    overflow-y: auto;
    padding: 0 20px;
}